:global {
  .ant-upload.ant-upload-select-picture-card,
  .ant-upload-list-picture-card-container {
    width: 70px;
    height: 70px;
    svg {
      width: 20px;
      height: 20px;
      fill: $gray;
    }
  }

  .upload-file {
    .ant-upload-list-item {
      margin-top: 0;
    }
  }
}
