.cmpcopy {
    svg {
        width: 12px;
        height: 12px;
        margin-left: 4px;
        cursor: pointer;
    }
}

.copy {
    svg {
        color: #1890ff;
    }
}

.copySuccess {
    svg {
        color: #52c41a;
    }
}